
.container a{
  text-decoration: none;
}

.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.card-heading{
  font-weight: 700;
}

.accordion:hover, .accordion-flush:hover{
  transition: 0.3s ease-in-out;
  background-color: #031166;

}

.card:hover{
  transition: 0.3s ease-in-out;
  border: solid 1px #031166;
  color: #000000;
}

.accordion-button.collapsed {
  color: #000000;
  border: none;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23031166'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.card{
  font-size: 1.5vw;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
  line-height: 1.5vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
}

.card2{
  font-size: 1.5vw;
  font-weight: 600;
  color: #000000;
  line-height: 1.5vh;
  padding: 0;
  text-decoration: none;
}

.card2:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #031166;
  color: #FFFFFF;
  transition: 0.3s ease-in-out;
}

.card2 a{
  text-decoration: none;
  color: #FFFFFF;
}

.card2 a:hover{
  text-decoration: none;
  color: #FFFFFF;
}

.card h4, .card2 h4{
  font-weight: 600;
  text-decoration: none;
  
}

.back-icon{
  text-decoration: none;
  color: #ffffff;
  font-size: 1.9vh;
}

.wrapper {
  margin: 10vh;
}
.card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 450px;
  box-shadow: 0 0 12px 0 #00000033;
}

@media (max-width: 768px) {
  .card {
    min-height: 350px;
 }
}
@media (max-width: 420px) {
  .card {
    min-height: 300px;
 }
}
.card.card-has-bg {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center center;
}

.card.card-has-bg:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.card.card-has-bg:hover {
  transform: scale(0.98);
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
  background-size: 130%;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  color: #FFFFFF;
}
.card.card-has-bg:hover .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: #234f6d;
  background: linear-gradient(0deg, #01053880 0%, #010538 100%);
  color: #FFFFFF;
}
.card .card-footer {
  background: none;
  border-top: none;
  color: #000000;
}

.card .card-body {
  color: #000000;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card:hover{
  cursor: pointer;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card:hover .card-body {
  margin-top: 30px;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  color: #FFFFFF;
}

.card:hover .card-footer {
  margin-top: 30px;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  color: #FFFFFF;
}

.card .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: #234f6d21;
  background: linear-gradient(0deg, #FEE6AA61 0%, #FEE6AA 100%);
}


.card h3{
  font-size: 1.2vh;
}

.card h4{
  font-size: 2.6vh;
  text-transform: uppercase;
}

.card h5{
  font-size: 1.4vh;
}

/* MODAL */
.fade{
  transition: 0.2s ease;
}

.modal{ 
  transition: 0.4s ease;
}

.btn{
  color: #000000;
}
.btn:hover{
  color: #FFFFFF;
}