
.container a{
  text-decoration: none;
}

.card-heading{
  font-weight: 700;
}

.accordion:hover, .accordion-flush:hover{
  transition: 0.3s ease-in-out;
  background-color: #031166;

}

.accordion-button.collapsed {
  color: #000000;
  border: none;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23031166'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.card{
  font-size: 1.5vw;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
  line-height: 1.5vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
}

.card2{
  font-size: 1.5vw;
  font-weight: 600;
  color: #000000;
  line-height: 1.5vh;
  padding: 0;
  text-decoration: none;
}

.card2:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #031166;
  color: #FFFFFF;
  transition: 0.3s ease-in-out;
}

.card2 a{
  text-decoration: none;
  color: #FFFFFF;
}

.card2 a:hover{
  text-decoration: none;
  color: #FFFFFF;
}

.card h4, .card2 h4{
  font-weight: 600;
  text-decoration: none;
  
}

.back-icon{
  text-decoration: none;
  color: #ffffff;
  font-size: 1.9vh;
}

input[type="text"], input[type="password"], input[type="date"], input[type="file"]{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  width: 90%;
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 12px;
  display: inline-block;
  border: none;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #7a7a7a;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, input[type="date"]:focus, input[type="file"]:focus {
  outline: none;
}

.info-1 label{
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 1.7vh;
}

.info-1 h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 2.1vh;
  color: #939393;
  border: none;
}

.g-forms textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1px ;
  width: 90%;
  height: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 12px;
  border: none;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #7a7a7a;
  resize: none;
  line-height: 15px;
}

textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px !important;
  width: 90%;
  height: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 12px;
  border: none;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #7a7a7a;
  resize: none;
  line-height: 15px;
}

.submitbtn input[type="submit"], .submitbtn button{
  margin: 2rem 0;
  font-family: 'Montserrat', sans-serif;
  border-radius: 2px;
  text-decoration: none;
  background-color: #FFFFFF;
  border: 1px solid #2C316F;
  color: #2C316F;
  align-items: center;
  padding: 0.25rem 1rem;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
}

.submitbtn input[type="submit"]:hover, .submitbtn button:hover {
  cursor: pointer;
  color: white;
  background-color:  #2C316F;
  transition: all 0.3s;
}

.uploadbtn button{
  font-family: 'Montserrat', sans-serif;
  border-radius: 2px;
  text-decoration: none;
  background-color: #FFFFFF;
  border: 1px solid #2C316F;
  color: #2C316F;
  align-items: center;
  padding: 0.25rem 1rem;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
}

.uploadbtn button:hover {
  cursor: pointer;
  color: white;
  background-color:  #2C316F;
  transition: all 0.3s;
}
