.container a {
  text-decoration: none;
}

.card-heading {
  font-weight: 700;
}

.accordion:hover,
.accordion-flush:hover {
  transition: 0.3s ease-in-out;
  background-color: #031166;

}

.card:hover {
  transition: 0.3s ease-in-out;
  border: solid 1px #031166;
  color: #000000;
}

.accordion-button.collapsed {
  color: #000000;
  border: none;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23031166'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.card {
  font-size: 1.5vw;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
  line-height: 1.5vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
}

.card2 {
  font-size: 1.5vw;
  font-weight: 600;
  color: #000000;
  line-height: 1.5vh;
  padding: 0;
  text-decoration: none;
}

.card2:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #031166;
  color: #FFFFFF;
  transition: 0.3s ease-in-out;
}

.card2 a {
  text-decoration: none;
  color: #FFFFFF;
}

.card2 a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.card h4,
.card2 h4 {
  font-weight: 600;
  text-decoration: none;

}

.back-icon {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.9vh;
}

/* list of requirements page */


ol.gradient-list>li,
ol.gradient-list>li::before {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

main {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  padding: 1rem;
}

ol li {
  font-weight: 600;
}

ol p {
  font-weight: 400;
  text-align: justify;
}

ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
}

ol.gradient-list>li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  counter-increment: gradient-counter;
  margin-top: 1rem;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}

ol.gradient-list>li::before,
ol.gradient-list>li::after {
  background: linear-gradient(135deg, #83e4e2 0%, #5faaa9 100%);
  border-radius: 1rem 1rem 0 1rem;
  content: '';
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}

ol.gradient-list>li::before {
  align-items: flex-end;
  content: counter(gradient-counter);
  color: #1d1f20;
  display: flex;
  font: 700 1.5em/1 'Montserrat';
  justify-content: flex-end;
  padding: 0.125em 0.25em;
  z-index: 1;
}

ol.gradient-list>li:nth-child(10n+1):before {
  background: linear-gradient(135deg, rgba(89, 225, 218, 0.2) 0%, rgba(62, 156, 152, 0.2) 100%);
}

ol.gradient-list>li:nth-child(10n+2):before {
  background: linear-gradient(135deg, rgba(89, 225, 218, 0.4) 0%, rgba(62, 156, 152, 0.4) 100%);
}

ol.gradient-list>li:nth-child(10n+3):before {
  background: linear-gradient(135deg, rgba(89, 225, 218, 0.6) 0%, rgba(62, 156, 152, 0.6) 100%);
}

ol.gradient-list>li:nth-child(10n+4):before {
  background: linear-gradient(135deg, rgba(89, 225, 218, 0.8) 0%, rgba(62, 156, 152, 0.8) 100%);
}

ol.gradient-list>li:nth-child(10n+5):before {
  background: linear-gradient(135deg, rgba(89, 225, 218, 1.0) 0%, rgba(62, 156, 152, 1.0) 100%);
}

ol.gradient-list>li:nth-child(10n+6):before {
  background: linear-gradient(135deg, rgba(89, 225, 218, 0.8) 0%, rgba(62, 156, 152, 0.8) 100%);
}

ol.gradient-list>li:nth-child(10n+7):before {
  background: linear-gradient(135deg, rgba(89, 225, 218, 0.6) 0%, rgba(62, 156, 152, 0.6) 100%);
}

ol.gradient-list>li:nth-child(10n+8):before {
  background: linear-gradient(135deg, rgba(89, 225, 218, 0.4) 0%, rgba(62, 156, 152, 0.4) 100%);
}

ol.gradient-list>li:nth-child(10n+9):before {
  background: linear-gradient(135deg, rgba(89, 225, 218, 0.2) 0%, rgba(62, 156, 152, 0.2) 100%);
}

ol.gradient-list>li:nth-child(10n+10):before {
  background: linear-gradient(135deg, rgba(89, 225, 218, 0) 0%, rgba(62, 156, 152, 0) 100%);
}

ol.gradient-list>li+li {
  margin-top: 2rem;
}

.fade{
  transition: 0.2s ease;
}

.modal{ 
  transition: 0.4s ease;
}
